In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('explored_dataset.csv')
data

,Unnamed: 0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,calculated_age,bmi
0,0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120
1,1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
4,4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438
69996,69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69997,69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69998,69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251
69999,69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x = data.drop(['cardio','age','Unnamed: 0','id'],axis=1)
y = data['cardio']

In [5]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

print('train size : ',x_train.shape)
print('test size : ',x_test.shape)

train size :  (56000, 12)
test size :  (14000, 12)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()

num_cols = [
    'calculated_age', 'height', 'weight',
    'ap_hi', 'ap_lo', 'bmi'
]

x_train[num_cols] = scaler.fit_transform(x_train[num_cols])
x_test[num_cols] = scaler.transform(x_test[num_cols])

In [8]:
#sigmoid function

def sigmoid(z):
    return 1/(1+np.exp(-z))


#logistic_regression function

def logistic_regression(X,y, learning_rate=0.1,epochs=20000):
    m,n = X.shape
    weights = np.zeros(n)
    bias=0

    for i in range(epochs):
        z = np.dot(X,weights) + bias

        prediction = sigmoid(z)

        lr = 0.1 / np.sqrt(i + 1)

        dw = (1/m) * np.dot(X.T,(prediction-y))
        db = (1/m) * np.sum(prediction-y)

        weights -= learning_rate * dw
        bias -= learning_rate * db
    return weights, bias

def predict(X, weights, bias):
    y_pred = sigmoid(np.dot(X, weights) + bias)
    return (y_pred>=0.5).astype(int)

#accuracy function

def accuracy(y_true,y_pred):
    return np.sum(y_true == y_pred) / len(y_true)

In [9]:
# train the model

weights, bias = logistic_regression(x_train, y_train)

In [10]:
# prediction 

y_pred = predict(x_test,weights,bias)

In [11]:
acc = accuracy(y_test, y_pred)
print('Accuracy : ',acc)

Accuracy :  0.7230714285714286

In [12]:
from sklearn.linear_model import LogisticRegression

In [16]:
import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# X and y already exist in this notebook
# X = df.drop("cat__cardio_1", axis=1)
# y = df["cat__cardio_1"]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)

model = LogisticRegression(max_iter=1000)
model.fit(X_scaled, y)

# SAVE EVERYTHING TOGETHER (VERY IMPORTANT)
joblib.dump(
    {
        "model": model,
        "scaler": scaler,
        "features": x.columns.tolist()
    },
    "cardio_bundle.pkl"
)

print("✅ Model, scaler, and features saved as cardio_bundle.pkl")

✅ Model, scaler, and features saved as cardio_bundle.pkl

In [17]:
import joblib

joblib.dump(model, "model.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']